  <%- include Partials/header.ejs %>
  <%- include Partials/main_nav.ejs %>
  <!--Main Content-->
    <h1><%= title %></h1>
    <p>Welcome to our homepage <%= title %></p>
    <p>List your parts and stock! get quick sales.</p>
    <a>



    
<%- include Partials/footer.ejs %>