<!-- views/stock.ejs -->
<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

<div class="container mt-4">
  <h1>Stock List</h1>
  <a 
    href="/stock/add" class="btn btn-primary" role="button">
    Add Stock
  </a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Description</th>
        <th>Item</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% stockItems.forEach(stock => { %>
        <tr>
          <td><%= stock.description %></td>
          <td><%= stock.item %></td>
          <td><%= stock.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include Partials/footer.ejs %>