<!-- views/Parts/edit.ejs -->
<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="descriptionTextField">Description</label>
                    <input type="text" class="form-control" id="descriptionTextField" placeholder="Enter the Description" name="description" value="<%= Stock.description %>" required>
                </div>
                <div class="form-group">
                    <label for="itemTextField">Item</label>
                    <input type="text" class="form-control" id="itemTextField" placeholder="Enter the Item name" name="item" value="<%= Stock.item %>" required>
                </div>
                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control" id="priceTextField" placeholder="Enter the price" name="price" value="<%= Stock.price %>" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit <i class="fas fa-edit"></i></button>  
                <a href="/stock" class="btn btn-warning">Cancel <i class="fas fa-undo"></i></a>    
            </form>
        </div>
    </div>
</div>

<%- include ../Partials/footer.ejs%>

